<h4 id="citizens-and-civil-society-groups">Citizens and Civil Society Groups</h4>
<div class="user-stories">
  <% data.what_do_they_pay.users.citizens.stories.each do |s| %>
  <p>As a <strong><%= s.As %></strong> I need/want/expect to <em><%= s.I %></em> so that <b><%= s.So %></b></p>
  <% end %>
</div>
<p>
  List of potential questions and queries from citizens and civil society organisations:
</p>
<ul>
  <% data.what_do_they_pay.users.citizens.questions.each do |q| %>
  <li><%= q %></li>
  <% end %>
</ul>

<h4 id="journalists-and-media-organisations">Journalists and Media Organisations</h4>
<div class="user-stories">
  <% data.what_do_they_pay.users.journalists.stories.each do |s| %>
  <p>As a <strong><%= s.As %></strong> I need/want/expect to <em><%= s.I %></em> so that <b><%= s.So %></b></p>
  <% end %>
</div>
<p>
  List of potential questions and queries from journalists and media organisations:
</p>
<ul>
  <% data.what_do_they_pay.users.journalists.questions.each do |q| %>
  <li><%= q %></li>
  <% end %>
</ul>

<h4 id="researchers-and-academics">Researchers and Academics</h4>
<div class="user-stories">
  <% data.what_do_they_pay.users.researchers.stories.each do |s| %>
  <p>As a <strong><%= s.As %></strong> I need/want/expect to <em><%= s.I %></em> so that <b><%= s.So %></b></p>
  <% end %>
</div>
<p>
  List of potential questions and queries from researchers and academics:
</p>
<ul>
  <% data.what_do_they_pay.users.researchers.questions.each do |q| %>
  <li><%= q %></li>
  <% end %>
</ul>

<h4 id="companies-and-investors">Companies and Investors</h4>
<div class="user-stories">
  <% data.what_do_they_pay.users.companies.stories.each do |s| %>
  <p>As a <strong><%= s.As %></strong> I need/want/expect to <em><%= s.I %></em> so that <b><%= s.So %></b></p>
  <% end %>
</div>
<p>
  List of potential questions and queries from companies and investors:
</p>
<ul>
  <% data.what_do_they_pay.users.companies.questions.each do |q| %>
  <li><%= q %></li>
  <% end %>
</ul>

<h4 id="public-institutions-and-international-organisations">Public Institutions and International Organisations</h4>
<div class="user-stories">
  <% data.what_do_they_pay.users.institutions.stories.each do |s| %>
  <p>As a <strong><%= s.As %></strong> I need/want/expect to <em><%= s.I %></em> so that <b><%= s.So %></b></p>
  <% end %>
</div>
<p>
  List of potential questions and queries from public institutions and international organisations:
</p>
<ul>
  <% data.what_do_they_pay.users.institutions.questions.each do |q| %>
  <li><%= q %></li>
  <% end %>
</ul>

<div class="footnotes">
  <ol start="6">
    <li id="usfn:1">
      <p>See: http://www.independent.co.uk/news/uk/politics/local-councils-should-vet-suppliers-for-tax-avoidance-charity-says-a6799961.html <a href="#usfn:1" class="reversefootnote">↩</a></p>
    </li>
  </ol>
</div>
