---
title: Open Data for Tax Justice
---
<header>
    <section>
        <div id="ok-panel-wrapper"><a class="white ok-ribbon" href="//okfn.org/"><img src="//a.okfn.org/html/oki/panel/assets/images/oki-ribbon.png" alt="Open Knowledge"></a></div>
        <div class="hashtag">
            <a href="https://twitter.com/search?q=%23OD4TJ" rel="external">
                #OD4TJ
            </a>
        </div>
        <div class="intro">
          <div>
            <h1>Open Data for Tax Justice</h1>
            <p>We’re working to create a global network of people and organisations using open data to improve advocacy, journalism and public policy around tax justice.</p>
            <p>If you’d like to join us, please email the network coordinators on <a href="mailto:contact@datafortaxjustice.net">contact@datafortaxjustice.net</a>.</p>
          </div>
        </div>
    </section>
</header>

<main>
  <section class="members">
    <h2>Member Organisations</h2>
    <div class="orgs">
      <% data.members.each do |m| %>
      <% if m.type != "individual"%>
      <a class="member<%if m.ratio == 'square' %> square<% end %><%if m.role %> has-role<% end %>" <%if m.url %>href="<%= m.url %>" rel="external"<% end %>>
        <span<%if m.logo %> class="logo" style="background-image: url(../img/members/<%= m.logo %>)"<% end %>><%= m.name %><%if m.role %><span class="role"><%= m.role %></span><% end %></span>
      </a>
      <% end %>
      <% end %>
    </div>

    <h2>Member Individuals</h2>
    <ul class="individuals">
      <% data.members.each do |m| %>
      <% if m.type == "individual"%>
      <li class="member<%if m.role %> has-role<% end %>">
        <a<%if m.url %> href="<%= m.url %>" rel="external"<% end %>>
          <%= m.name %><%if m.role %><span class="role"><%= m.role %></span><% end %>
        </a>
      </li>
      <% end %>
      <% end %>
    </ul>
  </section>
</main>
